@font-face {
    font-family: "Vinque";
    src: url("../fonts/vinquerg.ttf");
}

body {
    font-family: Vinque, Georgia, "serif";
    background-image: url("../images/background.jpg");
    background-position: 21% center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#nav-sub {
    background: url("../images/background-sub-layer.svg") repeat-x 50% 100%/1200px 144px;
    z-index: 0;
}

#nav-top {
    background: url("../images/background-top-layer.svg") repeat-x 0 0/auto 100%;
    position: relative;
    z-index: 1;
}

a.nav-link {
    color: #a5cbb0;
}

a.navbar-brand {
    color: white;
}

main {
    color: #1d4351;
}

@media (min-width: 768px) {
    #page-content {
        border-image-repeat: stretch repeat;
        border-image-slice: 60 30 28;
    }
}

@media (min-width: 1200px) {
    div#page-content {
        width: 50%;
    }
}

#page-content {
    margin: 5%;
    border: 14px solid #d3c8ac;
    border-image-source: url("../images/content-background.svg");
    border-image-repeat: repeat;
    border-image-slice: 30 62 28;
}

#page-content-inner {
    background-color: #d3c8ac;
}

table > thead, table > tbody {
    color: #1d4351;
}

tbody > tr > th {
    font-weight: normal;
}

table > caption {
    color: #1d4351;
    font-weight: bold;
}

.avatar {
    border: 2px solid black;
    height: 128px;
    border-radius: 50%;
}

.btn-green {
    color: white;
    background: url("../images/green-button-sprite.svg#off") 0/100% 100% no-repeat;
}

.btn-green:hover {
    color: white;
    background: url("../images/green-button-sprite.svg#hover") 0/100% 100% no-repeat;
}

.btn-green:focus {
    box-shadow: 0 0 15px #000;
}

.btn-small {
    padding: 10px 20px;
    letter-spacing: .05em;
}

.btn-tiny {
    padding: 5px 10px;
    letter-spacing: .025em;
}