{{define "content"}}
    <div>
        <p><b>Имя пользователя:</b> {{ .Content.Username }}</p>
        <p><b>Уровень доступа:</b> {{ .Access }}</p>
        <p><b>Аватар:</b></p>
        <img src="{{ .Content.Avatar }}" alt="Avatar">
    </div>
{{end}}